*
{
	margin: 0;
	padding: 0;
	border:none;
	list-style: none;
	text-decoration: none;
	color: rgba(120,120,120)
	/*Transisitons */
	-webkit-transition: all 800ms ease-in-out;
	-moz-transition: all 800ms ease-in-out;
	-ms-transition: all 800ms ease-in-out;
	-o-transition: all 800ms ease-in-out;
	transition: all 800ms ease-in-out;
}
/*####### Style___logo-header ########*/
.logo-header{
	display: block;
	width: 100%;
	height: 110px;
	background-color: #1e1e1e;
}
.logo-img{
	margin: 8px 0 8px 10px;
}
/*####### Style___nav ########*/
nav
{
	background-color: #f86500;
}
.nav-item .nav-link{
	color: #fff;
}
.nav-item .active{
	background-color: #202020;
}
/*####### Style___home ########*/
.boxMenu, .boxPedido{
	padding-top: 30px;
}
h2,p>a{
	color: #f86500;
}
.menuContent{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.boxMenu{
	flex-grow: 1;
	margin-right: 50px;
}
aside{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 350px;
}
.boxPedido, .boxSugrencias{
	flex-grow: 1;
}

/*####### Style___Menu ########*/
.card{
	border-radius: 0;
}
.card-header{
	padding: 0;
}
.card-header .mb-0 .btn-link{
	color: #963e01;
	font-size: 17px;
}
.arrow-right{
	position: relative;
	display: inline-block;
	background-image: url(../img/caret-right.svg);
	background-size: 10px 23px;
	background-repeat: no-repeat;
	width: 10px;
	height: 25px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-right: 10px;
	top:5px;
}

.card-header .mb-0 .collapsed .arrow-right{
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

}
.card-body{
	padding: 0;
}
.producto{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.producto:nth-child(even){
	background-color: #eaeaea;
}
.producto a.detalle:hover{
	text-decoration: none;
}
.producto:hover{
	background-color: #d2d2d2;
	/*Transisitons */
	-webkit-transition: background-color 300ms ease-in-out;
	-moz-transition: background-color 300ms ease-in-out;
	-ms-transition: background-color 300ms ease-in-out;
	-o-transition: background-color 300ms ease-in-out;
	transition: background-color 300ms ease-in-out;	
}
.producto:hover .precio{
	color: #f86500;
	-webkit-transition: background-color 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;	
}
.producto .detalle .nombreProducto,
.producto .detalle .unidades{
	display: inline;
	color: black;
}
.producto .detalle .nombreProducto{
	font-size: 18px;
	font-weight: 600;
	color: #f86500;
}
.producto .detalle .descripcion{
	font-size: 14px;
	color: #5f5f5f;
}
.producto .precio{
	text-align: right;
	font-size: 14px;
	font-weight: 700;
	margin-left: 15px;
}
/*####### Style___Pedido ########*/
.boxPedido{
	flex-grow: 1;
}
.boxPedido .carroPedido{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid #cfcfcf;

}
.boxPedido .carroPedido span.barTop{
	background-color: #eaeaea;
	height: 45px;
	width: 100%;
	display: block;
}
.boxPedido .carroPedido .totalesPedido,
.boxPedido .carroPedido .msjPedido{
	border-top: 1px solid #cfcfcf;
	flex-grow: 1;
	padding: 15px;
}
.boxPedido .carroPedido .totalesPedido{
	background-color: #d1d1d1;
}
.boxPedido .carroPedido .totalesPedido label{
	display: inline-block;
	width: 82%;
	text-align: right;
	font-size: 14px;
	font-weight: 600;
	color: #505050;
}
.boxPedido .carroPedido .totalesPedido input{
	display: inline-block;
	width: 16%;
	text-align: right;
	font-size: 14px;
	font-weight: 600;
	color: #505050;
	padding: 0 5px 2px 1px;
	border-radius: 1px;
	background-color: #eceaea;
}
.boxPedido .carroPedido .totalesPedido button{
	border-radius: 9px;
	border: 1px solid #b6b6b6;
	padding: 5px 17px;
	font-weight: 600;
	text-align: center;
	color: #505050;
}
.boxPedido .carroPedido .msjPedido{
	background-color: #f9f9f9;
}
.boxPedido .carroPedido .msjPedido p {
	color: #f86500;
}
/*####### Style___Sugerencias ########*/

.boxSugerencias {
	margin-top: 30px;
}
.boxSugerencias .card-deck{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 400px;
	margin: 0;
}
.boxSugerencias .card-deck .card{
	flex-grow: 1;
	border-radius: 0;
	border:solid 1px black;
	margin: 0;
}
.boxSugerencias .card-deck .card img{
	height: 150px;
	width: 225px;
}
.boxSugerencias .card-deck .card .card-body{
	background-color: #363738;
	padding: 0.50em;
	padding-right: 2px;
}
.boxSugerencias .card-deck .card .card-body .card-title{
	color: #fff;
	margin: 0;
	font-size: 1em;
}

/*####### Style___@media_query ########*/

@media screen and (max-width: 1200px) {

}
@media screen and (min-width:900px) and (max-width: 991px) {
	
	.container {
	    max-width: 820px;
	}
}
@media screen and (max-width: 991px) {
	.home h2{
		font-size: 26px;
	}
	.menuContent{
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	.boxMenu{
		margin: 0;
	}
	aside{
		width: auto;
	}
	aside h2{
		text-align: center;
	}
	.boxPedido .carroPedido{
		margin: 20px 45px;
	}
	.boxPedido .carroPedido .totalesPedido button {
		padding: 7px 20px;
		width: 74%;
		margin: 20px 13% 0;
	}
	.boxSugerencias .card-deck{
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		width: 100%;
		margin-top: 50px;
	}
	.boxSugerencias .card-deck .card{
		margin: 5px;
	}

}
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}